:root {
  --accent-color: #DE4627;
  --background-color: #e8e0d5;
  --text-color: #061827;
  --gray-color: #ded5ca;
  --border-color: #081825;
}

body {
    margin: 0 auto; 
    max-width: 850px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--text-color);
    background: var(--background-color);
    padding-left: 50px;
    padding-right: 50px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--accent-color);
    font-size: 2em;
}

h2{
    font-family: 'Lora', serif;
    font-weight: 700;
    color: var(--accent-color);
    font-size: 1.5em;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-left a {
    margin-left: 15px;
    text-decoration: none;
}

.top-right a img {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

.main-info {
    border: 4px solid var(--border-color);
    padding: 10px;
    display: flex;            
    gap: 20px;              
    align-items: flex-start;  
}

.picture img {
    width: 260px;
    height: auto;
    border: 4px solid var(--border-color);
}

.info-stuff {
    text-align: right;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.info-item img {
    width: 20px;
    height: 20px;
}

.post-info{
    color: var(--accent-color);
}

.posts {
    border: 4px solid var(--border-color);
    border-top: 0px;
    padding: 10px;
}

.post-desc {
    padding-bottom: 20px;
    border-bottom: 4px solid var(--gray-color);
}

.post-title a {
    color: var(--text-color); 
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-info {
        flex-direction: column;
        align-items: right;
    }

    .picture img {
        width: 100%; 
        max-width: 260px;
    }
}